.container{
    overflow:hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}
.content{
    margin-bottom: 10vw;
    width:100%;
    position:relative;
    min-height:100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
/* .image{
    height: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./images/login-background.jpg");
    position:absolute;
    top:0;
    right:0;
    left:0;
    z-index:-1;
} */

